    </main>
    <footer>
      &copy; {{ 'now' | date: "%Y" }} Nicklas Wiegandt
      <address class="mail">
        <i class="far fa-envelope"> {{ site.email }}</i>
      </address>
      <address class="github">
        <a title="GitHub" href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fab fa-github"> GitHub</i></a>
      </address>
      <address class="stackoverflow">
        <a title="Stack Overflow" href="https://stackoverflow.com/story/{{ site.stackoverflow_username }}" target="_blank"><i class="fab fa-stack-overflow"> Stack Overflow</i></a>
      </address>
      <address class="xing">
        <a title="Xing" href="https://www.xing.com/profile/{{ site.xing_username }}" target="_blank"><i class="fab fa-xing"> Xing</i></a>
      </address>
      <address class="linkedin">
        <a title="Linked In" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><i class="fab fa-linkedin"> LinkedIn</i></a>
      </address>
    </footer>
  </body>
</html>