{% include main_header.html %}
<article>
  <section id="quickfacts">
    <div>
      Nicklas Wiegandt<br />
      Software Engineer<br />
      <i class="fas fa-birthday-cake"></i> 9th August 1995 in Erlangen<br />
      <i class="fas fa-language"></i> German & English<br />
      <i class="far fa-envelope"></i> {{ site.email }}<br />
    </div>
    <img src="https://www.gravatar.com/avatar/8665d18ab7949fcc3a0a4e06b6391b1e.jpg?s=200&amp;r=X" alt="Nicklas Wiegandt"
      class="rounded-circle">
  </section>
  <section id="certificates">
    <a class="imagelink" target="_blank" href="https://certificates.future-network-cert.com/4d39a4cb-9224-4b2f-b8ba-f1781d3b18f2">
      <img alt="iSAQB® Software Architecture - Advanced Level" width="200" height="200"
        src="https://eu.api.accredible.com/v1/frontend/credential_website_embed_image/badge/10722920" />
    </a>
    <a class="imagelink" target="_blank" href="https://skillshub.isqi.org/zl3ujgnl">
      <img alt="iSAQB® Software Architecture - Foundation Level" width="200" height="200"
        src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/13709734" />
    </a>
    <a class="imagelink" target="_blank"
      href="https://www.youracclaim.com/badges/f6e26265-b547-426d-8296-f9f06571b848/public_url">
      <img alt="Oracle Certified Associate, Java SE 7 Programmer, 2015" width="150" height="150"
        src="assets/images/oracle-certified-associate-java-se-7-programmer.png" />
    </a>
    <a class="imagelink" target="_blank"
      href="https://www.youracclaim.com/badges/c5360073-f9a2-4a04-8834-20d9343b546f/public_url">
      <img alt="Oracle Certified Professional, Java SE 7 Programmer, 2017" width="150" height="150"
        src="assets/images/oracle-certified-professional-java-se-7-programmer.png" />
    </a>
  </section>
  <section id="skills">
    <h2>Skills</h2>
    {% for skilltype in site.data.skills %}
    {% for skill in skilltype.skills %}
    {{skill}}{% if forloop.last == false %}, {% endif %}
    {% endfor %}
    {% endfor %}
    <h3>Languages</h3>
    {% for skilltype in site.data.skills %}
    {% for language in skilltype.languages %}
    {{language.name}} - {{language.level}}{% if forloop.last == false %}<br />{% endif %}
    {% endfor %}
    {% endfor %}
    <h3>Technical Languages</h3>
    {% for skilltype in site.data.skills %}
    {% for technicalLanguage in skilltype.technicalLanguages %}
    {{technicalLanguage}}{% if forloop.last == false %}, {% endif %}
    {% endfor %}
    {% endfor %}
    <h3>Frameworks</h3>
    {% for skilltype in site.data.skills %}
    {% for framework in skilltype.frameworks %}
    {{framework}}{% if forloop.last == false %}, {% endif %}
    {% endfor %}
    {% endfor %}
    <h3>Tools</h3>
    {% for skilltype in site.data.skills %}
    {% for tool in skilltype.tools %}
    {{tool}}{% if forloop.last == false %}, {% endif %}
    {% endfor %}
    {% endfor %}
    <h3>Operating systems</h3>
    {% for skilltype in site.data.skills %}
    {% for operatingSystem in skilltype.operatingSystems %}
    {{operatingSystem}}{% if forloop.last == false %}, {% endif %}
    {% endfor %}
    {% endfor %}
  </section>
  <section id="career">
    <h2>Career</h2>
    <div class="timeline">
      {% for careerStep in site.data.career %}
        {% assign remainder = forloop.index | modulo: 2 %}
        {% if remainder == 0 %}
          <div class="container right">
        {% else %}
          <div class="container left">
        {% endif %}
        <div class="containercontent">
          <h3>{{ careerStep.from }} - {{ careerStep.to }}</h3>
          {{ careerStep.text }}
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  {{ content }}
</article>
{% include main_footer.html %}
