{% include main_header.html %}
<article>
    <div class="quickfacts">
        <div>
        Nicklas Wiegandt<br/>
        Software Engineer<br/>
        <i class="fas fa-birthday-cake"></i> 9th August 1995 in Erlangen<br/>
        <i class="fas fa-language"></i> German & English<br/>
        </div>
        <img src="https://www.gravatar.com/avatar/8665d18ab7949fcc3a0a4e06b6391b1e.jpg?s=200&amp;r=X" alt="Nicklas Wiegandt" class="rounded-circle">
    </div>
</article>
{% include main_footer.html %}